
<section id="world-map">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h2"> World Map</p>
      </div>
    </div>
    <div class="row">
      <% if current_campaign && !current_campaign.world_maps.empty? %>
        <div class="col-sm-10">
          <%= image_tag current_campaign.latest_low_res, class: "rounded mx-auto d-block img-fluid shadow-lg" %>
        </div>
        <div class="col-sm-2">
          <div class="row">
            <%= link_to 'High Res Version', current_campaign.latest_high_res, class: "btn btn-primary m-1 shadow btn-block" %>
          </div>
          <div class="row">
            <%= link_to 'Map History', world_maps_path, class: "btn btn-secondary m-1 shadow btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<div class="container">
  <br>
  <br>
  <hr>
  <br>
  <br>
</div>

<section id="world-news">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h2">World News</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 mr-10">
        <% if current_campaign && !current_campaign.world_news.empty? %>

          <p class="h5"><%= current_campaign.world_news.most_recently_created.title %></p>
          <p class="h6 text-muted"><%= current_campaign.world_news.most_recently_created.date %></p>
          <p><%= simple_format(current_campaign.world_news.most_recently_created.body) %></p>

        <% end %>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <%= link_to 'World News Archive', world_news_index_path, class: "btn btn-primary m-1 shadow btn-block" %>
        </div>
      </div>
    </div>
  </div>
</section>


