<h1><% if current_campaign %><%= current_campaign.name %><% else %>Welcome to the Cobalt Reserve!<% end %></h1>

<ul>
  <li>
    <%= link_to 'Monster Database', monsters_path %>
  </li>
  <li>
    <%= link_to 'Character Index', characters_path %>
  </li>
  <li>
    <%= link_to 'Game Session Index', game_sessions_path %>
  </li>
</ul>

<section id="world-map">
  <% if current_campaign && !current_campaign.world_maps.empty? %>
    <p><%= image_tag current_campaign.latest_low_res %></p>
    <center><%= link_to 'High Res Version', current_campaign.latest_high_res %></center>
  <% end %>
</section>


<section id="world-news">
  <% if current_campaign && !current_campaign.world_news.empty? %>

    <p><%= current_campaign.world_news.most_recently_created.title %></p>
    <p><%= current_campaign.world_news.most_recently_created.date %></p>
    <p><%= current_campaign.world_news.most_recently_created.body %></p>

    <p><%= link_to 'World News Archive', world_news_index_path %></p>
  <% end %>
</section>

