
<section id="world-map">
  <div class="jumbotron jumbotron-fluid" style="background-color:#f6e7ce;">
    <% if current_campaign && !current_campaign.world_maps.empty? %>
      <p><%= image_tag current_campaign.latest_low_res, class: "rounded mx-auto d-block img-fluid shadow-lg" %></p>
      <div class="d-flex justify-content-center">
        <%= link_to 'High Res Version', current_campaign.latest_high_res, class: "btn-sm btn-primary m-1 shadow" %>
        <%= link_to 'Map History', world_maps_path, class: "btn-sm btn-secondary m-1 shadow" %>
      </div>
    <% end %>
  </div>
</section>

<section id="world-news">
  <% if current_campaign && !current_campaign.world_news.empty? %>

    <p><%= current_campaign.world_news.most_recently_created.title %></p>
    <p><%= current_campaign.world_news.most_recently_created.date %></p>
    <p><%= current_campaign.world_news.most_recently_created.body %></p>

    <p><%= link_to 'World News Archive', world_news_index_path %></p>
  <% end %>
</section>

<section id="navigation">
  <ul>
    <li>
      <%= link_to 'Monster Database', monsters_path %>
    </li>
    <li>
      <%= link_to 'Character Index', characters_path %>
    </li>
    <li>
      <%= link_to 'Game Session Index', game_sessions_path %>
    </li>
  </ul>
</section>

