<h1><% if current_campaign %><%= current_campaign.name %><% else %>Welcome to the Cobalt Reserve!<% end %></h1>

<ul>
  <li>
    <%= link_to 'Monster Database', monsters_path %>
  </li>
  <li>
    <%= link_to 'Character Index', characters_path %>
  </li>
  <li>
    <%= link_to 'Game Session Index', game_sessions_path %>
  </li>
</ul>

<section id="world-news">
  <% if current_campaign && !current_campaign.world_news.empty? %>

    <p><%= current_campaign.world_news.last.title %></p>
    <p><%= current_campaign.world_news.last.date %></p>
    <p><%= current_campaign.world_news.last.body %></p>

  <% end %>
</section>

