<%= form_tag '/login', method: :post do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag 'Log In' %>
<% end %>

<% unless @users.nil? %>
  <%= form_tag :passwordless_login_post, method: :post do %>
    <hr>
    <p>New and Improved Passwordless Login.</p>
      <label>
        Username:
        <%= select_tag 'user-select', options_from_collection_for_select(@users, 'id', 'username') %>
      </label>
    <%= submit_tag 'Auth by Email' %>
  <% end %>
<% end %>

