<h1><%= @monster.name %> </h1>

<p><b>Size:</b> <%= @monster.size %></p>
<p><b>Type:</b> <%= @monster.monster_type %></p>
<p><b>Alignment:</b> <%= @monster.alignment %></p>
<p><b>AC:</b> <%= @monster.ac %></p>
<p><b>Hit Points:</b> <%= @monster.hp %></p>
<p><b>Speed:</b> <%= @monster.speed %></p>
<p><b>STR:</b> <%= @monster.str %></p>
<p><b>DEX:</b> <%= @monster.dex %></p>
<p><b>CON:</b> <%= @monster.con %></p>
<p><b>INT:</b> <%= @monster.int %></p>
<p><b>WIS:</b> <%= @monster.wis %></p>
<p><b>CHA:</b> <%= @monster.cha %></p>
<p><b>Languages:</b> <%= @monster.languages %></p>
<p><b>Challenge Rating:</b> <%= @monster.challenge_rating %></p>
<p><b>Additional Abilities:</b> <%= @monster.additional_abilities %></p>
<p><b>Source:</b> <%= @monster.source %></p>
<p><b>Author:</b> <%= @monster.author %></p>
