<h1>Admin Dashboard</h1>

<p><%= link_to 'Create Game Session', '/admin/game_sessions/new' %></p>

<p><%= link_to 'Foundry Key Management', '/admin/foundry_key' %></p>

<p><%= link_to 'World News Management', admin_world_news_index_path %></p>

<p><%= link_to 'Create World News Item', new_admin_world_news_path %></p>

<p><%= link_to 'Add New World Map', admin_world_maps_new_path %></p>

<p><%= link_to 'Campaign Management', admin_campaigns_path %></p>

