<h2> <%= @game_session.name %> </h2>

<p>Date: <%= @game_session.date %></p>

<h3> Participating Characters </h3>
<ul>
  <% @game_session.characters.each do |character| %>
    <li> <%= link_to character.name, character_path(character) %> </li>
  <% end %>
</ul>

<h3>Adventure Logs</h3>

<% if current_user &&
   @game_session.characters.include?(current_user.active_campaign_character) %>
  <p>
    <%= link_to 'Create New Adventure Log',
                "/game_sessions/#{@game_session.id}/adventure_logs/new" %>
  </p>
<% elsif current_user %>
  <p id="non-participating-user-message">
    (Only users with active participating characters can create adventure logs.)
  </p>
<% else %>
  <p id="visitor-message">
    (Log in <%= link_to 'with a password', login_path %> or
    <%= link_to 'using passwordless login', passwordless_login_path %>
    to create a new adventure log.)
  </p>
<% end %>

<% if @game_session.adventure_logs.empty? %>
  <p id="no-logs-message">
    There aren't any adventure logs yet, but they'll appear here.
  </p>
<% else %>
  <% if @game_session.best_adventure_log %>
    <section id="best-adventure-log">
      <p>
        <%= image_tag 'medal.svg', size: '20x40', alt: 'Medal Symbol', id: 'best-log-icon' %>
        <span id='best-log-tag'>Best Log</span>
      </p>
      <%= render 'log', mark_or_unmark: 'Unmark', adventure_log: @game_session.best_adventure_log %>
    </section>
  <% end %>
  <section id="adventure-logs">
    <% @game_session.adventure_logs.not_best.each do |adventure_log| %>
      <%= render 'log', mark_or_unmark: 'Mark', adventure_log: adventure_log %>
    <% end %>
  </section>
<% end %>
