<h1>Campaign Managment</h1>

<h2>Campaigns</h2>

<section id="campaign-list">
<% @campaigns.each do |campaign| %>
  <p id="campaign-<%= campaign.id %>">
  <%= link_to campaign.name, admin_campaign_path(campaign) %> -
  <%= link_to 'Edit', edit_admin_campaign_path(campaign) %> -
  <% unless current_campaign == campaign %>
    <%= link_to 'Make Active', "/admin/campaigns/#{campaign.id}/status", method: :patch %>
  <% end %>
  </p>
<% end %>
</section>

<p><%= link_to 'Create New Campaign', new_admin_campaign_path %></p>
