<%= form_for [@user, @character], url: @form_submission_url do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% @character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, {required: true} %>
  </div>

  <div class="field">
    <%= f.label :dndbeyond_url %>
    <%= f.url_field :dndbeyond_url, {required: true} %>
  </div>

  <div class="field">
    <%= f.label 'Species' %>
    <%= f.select 'species', options_for_select(@species, @character.species), {required: true} %>
  </div>

  <div class="field">
    <%= f.label 'Class' %>
    <%= f.select 'character_class', options_for_select(@classes, @character.character_class), {required: true} %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level, {required: true, min: 1, max: 20, step: 1} %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>

