<h1>Create Session</h1>

<%= form_with url: '/admin/game_sessions', model: @game_session do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <% current_campaign.characters.each do |character| %>
    <%= form.label 'character.name' %>
    <%= form.check_box 'characters', {:multiple => true}, character.id, nil%>
  <% end %>

  <%= form.submit 'Create Game Session' %>
<% end %>


