<div class="card">
  <div class="card-body" id="char-<%= character.id %>">
    <h5 class="card-title">
      <%= character.name %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <p><%= character.species %> <%= character.character_class %></p>
    </h6>
    <p>Level: <%= character.level %></p>
    <p>Active: <%= character.active %></p>
    <% if current_user == character.user %>
      <p><%= button_to 'Edit Character', edit_user_character_path(character.user, character.id), method: 'get', class: 'card-link' %></p>
      <% unless character.active %>
      <p><%= button_to 'Make Active!', user_activate_character_path(character.user, character.id), method: 'put', class: 'card-link' %></p>
      <% end %>
    <% end %>
  </div>
</div>
