<div class="card">
  <div class="card-body" id="char-<%= character.id %>">
    <h5 class="card-title">
      <%= character.name %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <p><%= character.species %> <%= character.character_class %></p>
    </h6>
    <p>Level: <%= character.level %></p>
    <p>Active: <%= character.active %></p>
  </div>
</div>
